.character {
	width: 400px;
	margin: 5px 25px;
	background-color: $chara-select-background;
	padding: 10px;
	padding-bottom: 0;
	text-align: left;
	border: 2px solid $bordercolor;
	border-radius: 5px;
	z-index: -1;
	outline: 0;
}

.character:after {
  display: block;
  clear: both;
  content: '';
}

.character-name {
	font-family: 'Felipa', cursive;
	font-size: 20px;
	letter-spacing: 2px;
	z-index: 2;
}

.character::first-letter {
  font-family: 'Alex Brush', cursive;
  font-size: 40px;
  font-weight: 900;
  float: left;
  margin-right: 2px;
  margin-top: -10px;
}

.character ul {
	display: inline-block;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 300px;
	margin-left: -20px;
	z-index: 2;
	vertical-align:middle;
}

.character li {
	display: inline-block;
	background-color: $chara-select-tags;
	padding: 3px 7px;
	margin: 1px;
	border-radius: 5px;
	max-width: 250px;
	z-index: 2;
	border: 2px solid $chara-select-background;
}

.character-select {
	overflow: scroll;
	height: 100%;
}

#chara-select {
	padding-bottom: 100px;
	overflow: scroll;
}

#chara-select button {
  z-index: 1;
}

.character .stripe {
  width: 350px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 20px;
  border-right: 2px solid $bordercolor;
  border-left: 2px solid $bordercolor;
  z-index: -1;
}

.character .whitestripe {
  z-index: -1;
  background-color: $bordercolor;
  position: absolute;
  width: 100%;
  height: 16px;
  top: 14px;
  left: 0;
}