.template {
  display: none;
}

// ADITI

.aditi b, .aditi strong, .aditi i {
  color: $aditicolor;
}

.aditi .stripe {
  background-color: $aditicolor;
}

//ALVAR

.alvar b, .alvar strong, .alvar i {
  color: $alvarcolor;
}

.alvar .stripe {
  background-color: $alvarcolor;
}

//ANANTA

.ananta b, .ananta strong, .ananta i {
  color: $anantacolor;
  // @include text-shadow($darkborder)
}

.ananta  .stripe {
  background-color: $anantacolor;
}

//ASLAN

.aslan b , .aslan strong, .aslan i {
  color: $aslancolor;
}

.aslan .stripe {
  background-color: $aslancolor;
}

//ASTE

.aste b, .aste strong, .aste i {
  color: $astecolor;
}

.aste .stripe {
  background-color: $astecolor;
}

//DERYN

.deryn b, .deryn strong, .deryn i {
  color: $deryncolor;
  // @include text-shadow($darkborder)
}

.deryn .stripe {
  background-color: $deryncolor;
}

//ERINYS

.erinys b, .erinys strong, .erinys i {
  color: $erinyscolor;
}

.erinys .stripe {
  background-color: $erinyscolor;
}

//FELIX

.felix b, .felix strong, .felix i {
  color: $felixcolor;
}

.felix .stripe {
  background-color: $felixcolor
}

//HASHUR

.hashur b, .hashur strong, .hashur i {
  color: $hashurcolor;
  // @include text-shadow($darkborder)
}

.hashur .stripe {
  background-color: $hashurcolor;
}

//JAYASHRI

.jayashri b, .jayashri strong, .jayashri i {
  color: $jayashricolor;
}

.jayashri .stripe {
  background-color: $jayashricolor;
}

//KIRAN

.kiran b, .kiran strong, .kiran i {
  color: $kirancolor;
}

.kiran .stripe {
  background-color: $kirancolor;
}

//KULIANA

.kuliana b, .kuliana strong, .kuliana i {
  color: $kulianacolor;
}

.kuliana .stripe {
  background-color: $kulianacolor;
}

//LILIM

.lilim b, .lilim strong, .lilim i {
  color: $lilimcolor;
}

.lilim .stripe {
  background-color: $lilimcolor;
}

//MACHLAH

.machlah b, .machlah strong, .machlah i {
  color: $machlahcolor;
}

.machlah .stripe {
  background-color: $machlahcolor;
}

//MARTINA

.martina b, .martina strong, .martina i {
  color: $martinacolor;
}

.martina .stripe {
  background-color: $martinacolor;
}

//REUBEN

.reuben b, .reuben strong, .reuben i {
  color: $reubencolor;
}

.reuben .stripe {
  background-color: $reubencolor
}

//SHAE

.shae b, .shae strong, .shae i {
  color: $shaecolor;
}

.shae .stripe {
  background-color: $shaecolor
}

//SHEONA

.sheona b, .sheona strong, .sheona i {
  color: $sheonacolor;
}

.sheona .stripe {
  background-color: $sheonacolor;
}

//SIORUS

.siorus b, .siorus strong, .siorus i {
  color: $sioruscolor;
}

.siorus .stripe {
  background-color: $sioruscolor
}

//SKANE

.skane b, .skane strong, .skane i {
  color: $skanecolor;
}

.skane .stripe {
  background-color: $skanecolor
}

//TAIJI

.taiji b, .taiji strong, .taiji i {
  color: $taijicolor;
}

.taiji .stripe {
  background-color: $taijicolor;
}

//THANH

.thanh b, .thanh strong, .thanh i {
  color: $thanhcolor;
}

.thanh .stripe {
  background-color: $thanhcolor;
}

//XIPHOS

.xiphos b, .xiphos strong, .xiphos i {
  color: $xiphoscolor;
  // @include text-shadow($darkborder)
}

.xiphos.character::first-letter {
  padding-left: 6px;
}

.xiphos .stripe {
  background-color: $xiphoscolor
}

//YEONCHO

.yeoncho b, .yeoncho strong, .yeoncho i {
  color: $yeonchocolor;
}

.yeoncho .stripe {
  background-color: $yeonchocolor;
}

//YEONJUN

.yeonjun b, .yeonjun strong, .yeonjun i {
  color: $yeonjuncolor;
}

.yeonjun .stripe {
  background-color: $yeonjuncolor;
}

//RILEY

.riley b, .riley strong, .riley i {
  color: $rileycolor;
}

.riley .stripe {
  background-color: $rileycolor;
}

//ADALIA

.adalia b, .adalia strong, .adalia i {
  color: $adaliacolor;
}

.adalia .stripe {
  background-color: $adaliacolor;
}

//AED

.aed b, .aed strong, .aed i {
  color: $aedcolor;
}

.aed .stripe {
  background-color: $aedcolor;
}

//ALEX

.alex b, .alex strong, .alex i {
  color: $alexcolor;
}

.alex .stripe {
  background-color: $alexcolor;
}

//ARTAVUS

.artavus b, .artavus strong, .artavus i {
  color: $artavuscolor;
}

.artavus .stripe {
  background-color: $artavuscolor;
}

//ASHER

.asher b, .asher strong, .asher i {
  color: $ashercolor;
}

.asher .stripe {
  background-color: $ashercolor;
}

//AUGUST

.august b, .august strong, .august i {
  color: $augustcolor;
}

.august .stripe {
  background-color: $augustcolor;
}

//BAST

.bast b, .bast strong, .bast i {
  color: $bastcolor;
}

.bast .stripe {
  background-color: $bastcolor;
}

//MOROI

.moroi b, .moroi strong, .moroi i {
  color: $moroicolor;
}

.moroi .stripe {
  background-color: $moroicolor;
}

//EKATERINA

.ekat b, .ekat strong, .ekat i {
  color: $ekatcolor;
}

.ekat .stripe {
  background-color: $ekatcolor;
}

//ELIAS

.elias b, .elias strong, .elias i {
  color: $eliascolor;
}

.elias .stripe {
  background-color: $eliascolor;
}

//ERISH

.erish b, .erish strong, .erish i {
  color: $erishcolor;
}

.erish .stripe {
  background-color: $erishcolor;
}

//FREYA

.freya b, .freya strong, .freya i {
  color: $freyacolor;
}

.freya .stripe {
  background-color: $freyacolor;
}

//INES

.ines b, .ines strong, .ines i {
  color: $inescolor;
}

.ines .stripe {
  background-color: $inescolor;
}

//KALIS

.kalis b, .kalis strong, .kalis i {
  color: $kaliscolor;
}

.kalis .stripe {
  background-color: $kaliscolor;
}

//LEO

.leo b, .leo strong, .leo i {
  color: $leocolor;
}

.leo .stripe {
  background-color: $leocolor;
}

//MAKS

.maks b, .maks strong, .maks i {
  color: $makscolor;
}

.maks .stripe {
  background-color: $makscolor;
}

//NICO

.nico b, .nico strong, .nico i {
  color: $nicocolor;
}

.nico .stripe {
  background-color: $nicocolor;
}

//NOAH

.noah b, .noah strong, .noah i {
  color: $noahcolor;
}

.noah .stripe {
  background-color: $noahcolor;
}

//OLIVIA

.olivia b, .olivia strong, .olivia i {
  color: $oliviacolor;
}

.olivia .stripe {
  background-color: $oliviacolor;
}

//SIMON

.simon b, .simon strong, .simon i {
  color: $simoncolor;
}

.simon .stripe {
  background-color: $simoncolor;
}

//TOBY

.toby b, .toby strong, .toby i {
  color: $tobycolor;
}

.toby .stripe {
  background-color: $tobycolor;
}

//OZ

.oz b, .oz strong, .oz i {
  color: $ozcolor;
}

.oz .stripe {
  background-color: $ozcolor;
}

//FLYNN

.flynn b, .flynn strong, .flynn i {
  color: $flynncolor;
}

.flynn .stripe {
  background-color: $flynncolor;
}

//JUDE

.jude b, .jude strong, .jude i {
  color: $judecolor;
}

.jude .stripe {
  background-color: $judecolor;
}

//AZZA

.azza b, .azza strong, .azza i {
  color: $azzacolor;
}

.azza .stripe {
  background-color: $azzacolor;
}

//EVREN

.evren b, .evren strong, .evren i {
  color: $evrencolor;
}

.evren .stripe {
  background-color: $evrencolor;
}

//ISRAA

.israa b, .israa strong, .israa i {
  color: $israacolor;
}

.israa .stripe {
  background-color: $israacolor;
}

//THREN

.thren b, .thren strong, .thren i {
  color: $threncolor;
}

.thren .stripe {
  background-color: $threncolor;
}

//GRESH

.gresh b, .gresh strong, .gresh i {
  color: $greshcolor;
}

.gresh .stripe {
  background-color: $greshcolor;
}

//CALANTHE

.calanthe b, .calanthe strong, .calanthe i {
  color: $calanthecolor;
}

.calanthe .stripe {
  background-color: $calanthecolor;
}

//LEVENT

.levent b, .levent strong, .levent i {
  color: $leventcolor;
}

.levent .stripe {
  background-color: $leventcolor;
}

//ORHAN

.orhan b, .orhan strong, .orhan i {
  color: $orhancolor;
}

.orhan .stripe {
  background-color: $orhancolor;
}

//NEREUS

.nereus b, .nereus strong, .nereus i {
  color: $nereuscolor;
}

.nereus .stripe {
  background-color: $nereuscolor;
}

//NOU

.nou b, .nou strong, .nou i {
  color: $noucolor;
}

.nou .stripe {
  background-color: $noucolor;
}