.template {
  display: none;
}

.aditi b, .aditi strong {
  color: $aditicolor;
  @include text-shadow($lightborder)
}

.alvar b, .alvar strong {
  color: $alvarcolor;
  @include text-shadow($lightborder)
}

.ananta b, .ananta strong {
  color: $anantacolor;
  @include text-shadow($darkborder)
}

.aslan b , .aslan strong{
  color: $aslancolor;
  @include text-shadow($lightborder)
}

.aste b, .aste strong {
  color: $astecolor;
  @include text-shadow($lightborder)
}

.deryn b, .deryn strong {
  color: $deryncolor;
  @include text-shadow($darkborder)
}

.erinys b, .erinys strong {
  color: $erinyscolor;
  @include text-shadow($lightborder)
}

.felix b, .felix strong {
  color: $felixcolor;
  @include text-shadow($lightborder)
}

.hashur b, .hashur strong {
  color: $hashurcolor;
  @include text-shadow($darkborder)
}

.jayashri b, .jayashri strong {
  color: $jayashricolor;
  @include text-shadow($lightborder)
}

.kiran b, .kiran strong {
  color: $kirancolor;
  @include text-shadow($lightborder)
}

.kuliana b, .kuliana strong {
  color: $kulianacolor;
  @include text-shadow($lightborder)
}

.lilim b, .lilim strong {
  color: $lilimcolor;
  @include text-shadow($lightborder)
}

.machlah b, .machlah strong {
  color: $machlahcolor;
  @include text-shadow($lightborder)
}

.martina b, .martina strong {
  color: $martinacolor;
  @include text-shadow($lightborder)
}

.reuben b, .reuben strong {
  color: $reubencolor;
  @include text-shadow($lightborder)
}

.shae b, .shae strong {
  color: $shaecolor;
  @include text-shadow($lightborder)
}

.sheona b, .sheona strong {
  color: $sheonacolor;
  @include text-shadow($lightborder)
}

.siorus b, .siorus strong {
  color: $sioruscolor;
  @include text-shadow($lightborder)
}

.skane b, .skane strong {
  color: $skanecolor;
  @include text-shadow($lightborder)
}

.taiji b, .taiji strong {
  color: $taijicolor;
  @include text-shadow($lightborder)
}

.thanh b, .thanh strong {
  color: $thanhcolor;
  @include text-shadow($lightborder)
}

.xiphos b, .xiphos strong {
  color: $xiphoscolor;
  @include text-shadow($darkborder)
}

.yeoncho b, .yeoncho strong {
  color: $yeonchocolor;
  @include text-shadow($lightborder)
}

.yeonjun b, .yeonjun strong {
  color: $yeonjuncolor;
  @include text-shadow($lightborder)
}

.riley b, .riley strong {
  color: $rileycolor;
  @include text-shadow($lightborder)
}

.adalia b, .adalia strong {
  color: $adaliacolor;
  @include text-shadow($lightborder)
}

.aed b, .aed strong {
  color: $aedcolor;
  @include text-shadow($lightborder)
}

.alex b, .alex strong {
  color: $alexcolor;
  @include text-shadow($lightborder)
}

.artavus b, .artavus strong {
  color: $artavuscolor;
  @include text-shadow($lightborder)
}

.asher b, .asher strong {
  color: $ashercolor;
  @include text-shadow($lightborder)
}

.august b, .august strong {
  color: $augustcolor;
  @include text-shadow($lightborder)
}

.bast b, .bast strong {
  color: $bastcolor;
  @include text-shadow($lightborder)
}

.moroi b, .moroi strong {
  color: $moroicolor;
  @include text-shadow($lightborder)
}

.ekat b, .ekat strong {
  color: $ekatcolor;
  @include text-shadow($lightborder)
}

.elias b, .elias strong {
  color: $eliascolor;
  @include text-shadow($lightborder)
}

.erish b, .erish strong {
  color: $erishcolor;
  @include text-shadow($lightborder)
}

.freya b, .freya strong {
  color: $freyacolor;
  @include text-shadow($lightborder)
}

.ines b, .ines strong {
  color: $inescolor;
  @include text-shadow($lightborder)
}

.kalis b, .kalis strong {
  color: $kaliscolor;
  @include text-shadow($lightborder)
}

.leo b, .leo strong {
  color: $leocolor;
  @include text-shadow($lightborder)
}

.maks b, .maks strong {
  color: $makscolor;
  @include text-shadow($lightborder)
}

.nico b, .nico strong {
  color: $nicocolor;
  @include text-shadow($lightborder)
}

.noah b, .noah strong {
  color: $noahcolor;
  @include text-shadow($lightborder)
}

.olivia b, .olivia strong {
  color: $oliviacolor;
  @include text-shadow($lightborder)
}

.simon b, .simon strong {
  color: $simoncolor;
  @include text-shadow($lightborder)
}

.toby b, .toby strong {
  color: $tobycolor;
  @include text-shadow($lightborder)
}

.oz b, .oz strong {
  color: $ozcolor;
  @include text-shadow($lightborder)
}

.flynn b, .flynn strong {
  color: $flynncolor;
  @include text-shadow($lightborder)
}

.jude b, .jude strong {
  color: $judecolor;
  @include text-shadow($lightborder)
}

.azza b, .azza strong {
  color: $azzacolor;
  @include text-shadow($lightborder)
}

.evren b, .evren strong {
  color: $evrencolor;
  @include text-shadow($lightborder)
}

.israa b, .israa strong {
  color: $israacolor;
  @include text-shadow($lightborder)
}

.thren b, .thren strong {
  color: $threncolor;
  @include text-shadow($lightborder)
}

.gresh b, .gresh strong {
  color: $greshcolor;
  @include text-shadow($lightborder)
}

.calanthe b, .calanthe strong {
  color: $calanthecolor;
  @include text-shadow($lightborder)
}

.levent b, .levent strong {
  color: $leventcolor;
  @include text-shadow($lightborder)
}

.orhan b, .orhan strong {
  color: $orhancolor;
  @include text-shadow($lightborder)
}