// GENERAL

$backgroundcolor: #ffffff;
$fontcolor: #666666;
$accentcolor: #be9a18;

$bar-background: #cccccc;
$bordercolor: #efebea;
$sorting-container: #aaaaaa;

$chara-select-background: #aaaaaa;
$chara-select-tags: #efebea;

/* 
  #ffffff
  #e4dddc
  #efebea
  #cccccc
  #bbbbbb
  #aaaaaa
  #4f4f4f
*/

$aditicolor: #732A25;
$alvarcolor: #6748A8;
$anantacolor: #A3D6A3;
$aslancolor: #6E1287;
$astecolor: #5883AD;
$deryncolor: #CADCDE;
$erinyscolor: #9A79A6;
$felixcolor: #326E40;
$hashurcolor: #DBD088;
$kirancolor: #C35617;
$kulianacolor: #6B442A;
$lilimcolor: #BF5CB9;
$machlahcolor: #bf9731;
$martinacolor: #4762AD;
$reubencolor: #AD6D18;
$shaecolor: #993629;
$sioruscolor: #BA6156;
$skanecolor: #732F3B;
$taijicolor: #1D98A8;
$thanhcolor: #3843BA;
$xiphoscolor: #6EEAB3;
$yeonjuncolor: #367875;
$rileycolor: #4e8250; 
$evrencolor: #5040b1;
$calanthecolor: #de87ba;
$leventcolor: #24ad95;

/* still needs to be set */
$yeonchocolor: #000000;
$sheonacolor: #000000;
$jayashricolor: #000000;

$adaliacolor: #000000;
$aedcolor: #000000;
$alexcolor: #000000;
$artavuscolor: #000000;
$ashercolor: #000000;
$augustcolor: #000000;
$bastcolor: #000000;
$moroicolor: #000000;
$ekatcolor: #000000;
$eliascolor: #000000;
$erishcolor: #000000;
$freyacolor: #000000;
$inescolor: #000000;
$kaliscolor: #000000;
$leocolor: #000000;
$makscolor: #000000;
$nicocolor: #000000;
$noahcolor: #000000;
$oliviacolor: #000000;
$simoncolor: #000000;
$tobycolor: #000000;

$ozcolor: #000000;
$flynncolor: #000000;
$judecolor: #000000;
$azzacolor: #000000;
$israacolor: #000000;
$threncolor: #000000;
$greshcolor: #000000;
$orhancolor: #000000;