/* 
::selection {
	background: $accentcolor;
}

::-moz-selection {
	background: $accentcolor;
}

::-webkit-selection {
	background: $accentcolor;
}
*/

#s-m-t-tooltip {
    max-width: 300px;
    z-index: 10;
    margin: 24px 14px 7px 12px;
    padding: 8px;
    background: $backgroundcolor;
    font-size: 12px;
    color: $fontcolor;
    font-family: 'Muli', sans-serif;
    border: 2px solid $bordercolor;
	border-radius: 10px;
}


::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $sorting-container;
  border-radius: 50px;
}
      
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background: url("img/gplay.png");
  background-color: $backgroundcolor;
}

b {
  font-family: 'Felipa', cursive;
  font-size: 16px;
  letter-spacing: 2px;
  z-index: 2;
  @include text-shadow($bordercolor)
}

strong {
  @include text-shadow2($bordercolor)
}

#loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%;  
    z-index: 99999999;
    background: url('http://i.giphy.com/xTk9ZvMnbIiIew7IpW.gif') 50% 50% no-repeat #e5eff1;
    background-size:350px;
}

#profile-loading {
  display: none;
  position: fixed;
  background-image: url("img/spin.gif");
  z-index: 9999;
  left: 40%;
  top: 40%;
  height: 100px;
  width: 100px;
}

h2 {
  float: right;
  margin-top: -28px;
  margin-bottom: -30px;
  font-size: 40px;
  padding-left: 200px;
  text-align: right;
  font-family: 'Alex Brush', cursive;
  @include text-shadow($bordercolor)
}

h3 {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    margin-left: -75px;
    padding: 0;
    padding-right: 10px;
    border-right: 2px solid $bordercolor;
    font-size: 13pt;
    font-family: 'Felipa', cursive;
    width: 75px;
    text-align: right;
    @include text-shadow($bordercolor)
}

.test-button {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: red;
  display: none;
}

.ui-widget-content {
  background: $backgroundcolor;
  border: 2px solid $bordercolor;
  color: $fontcolor;
}

.ui-dialog .ui-dialog-titlebar {
	background: transparent;
	border: 0;
}
.ui-dialog .ui-dialog-title {
	font-family: 'Alex Brush', cursive;
	font-size: 30px;
	color: $fontcolor;
	border-bottom: 2px solid $bordercolor;
	@include text-shadow($bordercolor)
}
.ui-dialog .ui-dialog-titlebar-close {
	top: 30%;
	margin: -10px 0 0 0;
	outline: none;
	border: 0;
	background: white;
}
.ui-dialog .ui-dialog-content {
	background: #e4dddc;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	border: 0;
}



