#left-side-bar {
	height: 100%;
	width: 50px;
	background-color: $bar-background;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 2px solid $bordercolor;
}

#right-side-bar {
	height: 100%;
	width: 450px;
	background-color: $bar-background;
	float: left;
	position: fixed;
	right: 0;
	top: 0;
	border-left: 2px solid $bordercolor;
}

#right-bar-sorting-container {
	background-color: $sorting-container;
	width: 100%;
	height: 0;
	position: fixed;
	overflow-x: hidden;
	z-index: 3;
	top: 0;
	@include transition(linear .5s)
}

#right-bar-characters {
	height: 100%;
	@include transition(linear .5s)
}

#slide-button {
	background-color: $sorting-container;
	border-radius: 0 0 100% 100%;
	height: 20px;
	box-shadow: 0 0 0 2px $bordercolor;
	@include transition(linear .5s)
}

#slide-button span {
	margin-left: 225px;
	z-index: 9;
}
#slide-button i {
	font-size: 25px;
	margin-top: 5px;
	color: white;
	z-index: 9;
}

#triangle{
	height:0px; 
	width: 10px;
	border:20px solid $sorting-container;
	border-radius: 5px 5px 100% 100%/5px 5px 100% 100%;
	border-color: $sorting-container transparent transparent transparent;
	border-width: 29px 12px 0px 12px;
	float: left;
	margin-left: 216px;
	margin-top: -17px;
}

.slide-button-close {
	display: none;
}