@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin user-select($arg) {
  -webkit-user-select: $arg;
  -khtml-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  -o-user-select: $arg;
  user-select: $arg;
}

@mixin text-shadow($arg) {
  text-shadow: 
    -1px 0 $arg, 
    0 1px $arg, 
    1px 0 $arg, 
    0 -1px $arg;
}

@mixin text-shadow2($arg) {
  text-shadow: 
    -2px 1px $arg, 
    -1px 2px $arg, 
    2px -1px $arg, 
    1px -2px $arg;
}