
.character-header {
  font-size: 50px;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
  position: fixed;
  top: 20px;
  margin-left: 25px;
  @include user-select(none)
}

.character-header::first-letter {
  font-size: 90px;
  font-weight: 900;
  float: left;
  margin-right: -2px;
  margin-top: -20px;
}

.info {
  text-align: left;
  list-style: none;
  display: inline-block;
  float: left;
	width: 45%;
}

.info li {
  border-top: 2px solid $bordercolor;
  border-radius: 50px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  width: 95%;
  text-align: right;
}

.info hr {
    margin-top: 1px;
    background-color: $bordercolor;
    border: none;
    position: absolute;
    height: 2px;
    margin-top: 5px;
    z-index: -1;
}

.info b {
  font-size: 20px;
  float: left;
  padding-right: 50px;
}

.tag-block ul {
  display: inline-block;
	font-family: 'Muli', sans-serif;
	bottom: 0;
	left: 0;
	font-size: 12px;
	margin-top: -8px;
	z-index: 2;
	vertical-align:middle;
	@include user-select(none)
}

.tag-block li {
  display: inline-block;
	background-color: $chara-select-tags;
	padding: 3px 7px;
	margin: 1px;
	border-radius: 5px;
	z-index: 2;
	border: 2px solid $bordercolor;
}

.tag-block hr {
    margin-top: 1px;
    background-color: $bordercolor;
    border-radius: 40px;
    border: none;
    height: 2px;
}

.intro {
  float: right;
  right: 0;
  margin-right: 100px;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
  font-size: 50px;
  @include user-select(none)
}

.intro-blurb {
  float: right;
  width: 45%;
  padding-top: 35px;
  margin-right: -275px;
}

.color {
  border: none;
  @include text-shadow(transparent)
}