

.character-header {
  font-size: 50px;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
  position: fixed;
  top: 20px;
  margin-left: 77px;
  margin-right: 460px;
  cursor: default;
  @include user-select(none)
}

.character-header::first-letter {
  font-size: 90px;
  font-weight: 900;
  float: left;
  margin-right: -2px;
  margin-top: -20px;
}

.tab-stripe {
  background: red;
  height: 100px;
  width: 100%;
  z-index: -999;
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
  position: fixed;
  border: 2px solid white;
  -ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Safari */
  transform: rotate(-40deg);
}

.info {
  text-align: left;
  list-style: none;
  display: inline-block;
  float: left;
	width: 45%;
	font-family: 'Muli', sans-serif;
}

.info li {
  border-top: 2px solid $bordercolor;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px;
  width: 95%;
  text-align: right;
  vertical-align: middle;
}

.info button {
  background: transparent;
  border: 0;
  color: $fontcolor;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  padding: 0;
  outline: none;
  cursor: pointer;
  border-bottom: 2px solid $bordercolor;
}

.info hr {
    margin-top: 1px;
    background-color: $bordercolor;
    border: none;
    position: absolute;
    height: 2px;
    margin-top: 5px;
    z-index: -1;
}

.info b {
  font-size: 20px;
  float: left;
  padding-right: 50px;
}

.tag-block ul {
  display: inline-block;
	font-family: 'Muli', sans-serif;
	bottom: 0;
	left: 0;
	font-size: 12px;
	margin-top: -8px;
	z-index: 2;
	text-align: center;
	cursor: default;
	vertical-align:middle;
	@include user-select(none)
}

.tag-block li {
  display: inline-block;
	background-color: $chara-select-tags;
	padding: 3px 7px;
	margin: 1px;
	border-radius: 5px;
	z-index: 2;
	border: 2px solid $bordercolor;
}

.tag-block hr {
    background-color: $bordercolor;
    border-radius: 40px;
    border: none;
    height: 2px;
}

.tag-block i {
  font-size: 15px;
  margin-right: 5px;
}

.intro {
  float: right;
  right: 0;
  right: 100px;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
  cursor: default;
  @include user-select(none)
}

.intro-blurb {
  float: right;
  width: 45%;
  margin-top: 50px;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  margin-right: 10px;
  display: inline-block;
}


.info .stripe {
  height: 10px;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  color: transparent;
  border-left: 3px solid $bordercolor;
  border-right: 3px solid $bordercolor;
  border-top: 1px solid $bordercolor;
  border-bottom: 1px solid $bordercolor;
  border-radius: 50px;
  @include user-select(none)
}

.biography {
  padding: 0 50px;
}

.biography-category {
  border-top: 2px solid $bordercolor;
  border-radius: 5px;
  padding: 0 50px;
  padding-bottom: 25px;
  margin-top: 15px;
}

.biography p {
  text-indent: 20px;
  margin-top: 0;
  font-family: 'Muli', sans-serif;
  line-height: 25px;
}

.bio-header {
  font-size: 50px;
  font-family: 'Alex Brush', cursive;
  margin-top: -30px;
  padding-left: 50px;
  float: left;
  cursor: default;
  @include user-select(none)
}

.relationships {
  text-align: center;
}

.relationship {
  display: inline-block;
  padding: 25px;
  width: 500px;
  margin: auto;
  min-height: 275px;
  vertical-align: middle;
}

.relationship p {
  text-align: justify;
  margin-top: 0;
  line-height: 22px;
  padding-left: 60px;
  font-family: 'Muli', sans-serif;
  width: 375px;
}

.relationship strong {
  text-align: left;
}

.relationship .relation-name {
  font-size: 35px;
  font-family: 'Alex Brush', cursive;
  margin-left: -220px;
  margin-top: 25px;
  margin-bottom: -20px;
  z-index: 99;
}

.relationship .relation-type {
  width: 100%;
  font-size: 25px;
  font-family: 'Alex Brush', cursive;
  margin-left: -250px;
  margin-top: -20px;
}

.relationship .left {
  width: 50px;
  border: 2px solid $bordercolor;
  float: left;
  height: 250px;
  border-radius: 50px 5px 5px 50px;
  z-index: 9;
}

.relationship .right {
  width: 50px;
  border: 2px solid $bordercolor;
  float: right;
  height: 250px;
  border-radius: 5px 50px 50px 5px;
  z-index: 9;
}

#music-tab {
  width: 20px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  @include transition(linear .5s)
}

#music {
  display: inline-block;
  margin-left: 20px;
  position: fixed;
  width: 0;
	overflow: hidden;
	@include transition(linear .5s)
}

#player {
  border: 5px solid $bordercolor;
  background: $bordercolor;
  border-radius: 5px;
  top: 3px;
  width: 40px;
  height: 80px;
  right: 500px;
  position: fixed;
  z-index: 99999;
  @include transition(linear .5s)
}

#music-label {
  width: 20px;
  top: 30px;
  right: -5px;
  color: black;
  position: absolute;
}

.music-button-close, .music-button-open {
  top: 30px;
  left: 0;
  position: absolute;
}

.music-button-close {
  display: none;
}

.misc {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.misc ul {
  text-align: left;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  border-top: 2px solid $bordercolor;
  border-radius: 5px;
  padding-top: 23px;
  margin: 0 50px;
}

.misc li {
  margin: 5px 50px;
}

.tropes-block {
  display: inline-block;
  border-top: 2px solid $bordercolor;
  padding: 25px 0;
  border-radius: 5px;
  margin: 25px 50px;
}

.misc strong {
  float: left;
  position: absolute;
  font-family: 'Alex Brush', cursive;
  font-size: 35px;
  margin-top: -45px;
  cursor: default;
  @include user-select(none)
}

.tropes-block a {
    cursor: pointer;
    color: $fontcolor;
    background: $bordercolor;
    padding: 1px 20px;
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    @include transition (linear 0.3s)
}

.tropes-block a:hover {
    color: $fontcolor;
    background: $color3;
    @include transition (linear 0.3s)
}

.pinterest {
  border-top: 2px solid $bordercolor;
  margin: 0 50px;
  border-radius: 5px;
  padding-top: 25px;
}

.pinterest strong {
  margin-left: 50px;
  position: relative;
}

div.pinterest > span > span:first-child {
  display: none !important;
}

.div.pinterest > span > span:last-child {
  display: none;
}

div.pinterest > span {
  box-shadow: 0 0 0 transparent !important;
  background: transparent none !important;
  padding: 0 !important;
  margin: 0;
}