.profile-view-port {
  margin-left: 50px;
  margin-right: 450px;
  margin-bottom: 10px;
  background-color: red;
  overflow: hidden;
}

// .selected-profile {
//  height: 500px;
//  width: 500px;
//  background-color: blue;
//}