
.tabs-menu {
  clear: both;
  display: inline-block;
  position: fixed;
  top: 80px;
  float: left;
  list-style: none;
  width: 100%;
}

.tabs-menu:after {
  display: block;
  clear: both;
  content: '';
}

.tabs-menu li {
  margin: 0px 5px -1px 5px;
  float: left;
  list-style: none;
}

.tabs-menu li a {
  padding: 2px;
  color: $fontcolor;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 30px;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  margin-bottom: 1px;
  background-color: $backgroundcolor;
  border: 2px solid $bordercolor;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  @include user-select(none)
  @include transition(linear .3s)
}

.tabs-menu .current a {
  background-color: $bordercolor;
}

#profile {
  margin-left: 52px;
  margin-right: 460px;
  border: 2px solid $bordercolor;
  border-radius: 5px;
  top: 121px;
  bottom: 10px;
  position: fixed;
  overflow-x: scroll;
  background: $backgroundcolor;
  @include transition(linear .5s)
}

.tab {
  border: 2px solid transparent;
  color: $fontcolor;
  @include transition(linear .3s)
}

.tab-content {
  display: none;
  padding: 20px;
}

#tab-1 {
  display: block;
}